/node_modules
/public/build
/public/hot
/public/storage
/public/*.pdf
/storage/*.key
/storage/installed
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore
!/storage/app/public/files/
!/storage/app/public/files/**
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/lang/*.json
*.zip
*.sql
*.enc
/backups
/storage/app/backups
.backup.env
installed
.gstack/
